{% extends 'articles/base_nv.html'%}
{% block content %}
<style type="text/css">
  .content{
    flex-direction: column;
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding: 0;
  }
</style>	
<h2 style="text-align: left;color: #3790b7;margin:0">О нас</h2>
<div class="box_about_us">

<div style="display:flex;align-items: center; "><div style="background: #b8e388; border-radius: 20px;height: 40px;width: 40px;display: flex;align-items: center;justify-content: center;"><h4 style="margin: 0;"> 1</h4></div><h3 style="margin:0 10px;color: #1c257b	"> Хорошие цены</h3></div>
<h4 style="font-weight: normal">Цены на многие лекарства и товары для красоты и здоровья на сайте Аптека Опека ниже, чем в среднем в аптеках. Мы сотрудничаем напрямую с производителями, поэтому заказанные на Аптека Опека товары поступают в аптеку напрямую с нашего склада без посредников или перекупщиков.</h4>
</div>

<div class="box_about_us">
<div style="display:flex;align-items: center; "><div style="background: #b8e388; border-radius: 20px;height: 40px;width: 40px;display: flex;align-items: center;justify-content: center;"><h4 style="margin: 0;">2</h4></div><h3 style="margin:0 10px;color: #1c257b	"> Огромный ассортимент </h3></div>
<h4 style="font-weight: normal">В любом регионе России доставка заказа в аптеку чаще всего происходит уже на следующий день! Максимальный срок доставки всего три дня. Как только вы сформировали заказ на сайте Аптека Опека, информация о нем поступает в нашу систему. Заказ оперативно обрабатывают сотрудники склада, и он отправляется в выбранную вами аптеку.</h4>
</div>

<div class="box_about_us">
<div style="display:flex;align-items: center; "><div style="background: #b8e388; border-radius: 20px;height: 40px;width: 40px;display: flex;align-items: center;justify-content: center;"><h4 style="margin: 0;"> 3</h4></div><h3 style="margin:0 10px;color: #1c257b	"> Надежно и законно </h3></div>
<h4 style="font-weight: normal">Сервис Аптека Опека – единственная в своем роде федеральная сеть по поиску и заказу аптечных товаров. По сути, мы – витрина аптеки, где вы можете выбрать необходимый товар, и заказать его доставку в аптеку, где вам будет удобно его купить. Мы осуществляем обработку, хранение и доставку заказов с соблюдением всех требований законодательства.</h4>
</div>

<div class="box_about_us">
<div style="display:flex;align-items: center;color: #1c257b "><div style="background: #b8e388; border-radius: 20px;height: 40px;width: 40px;display: flex;align-items: center;justify-content: center;"><h4 style="margin: 0;"> 4</h4></div><h3 style="margin:0 10px;	"> Конфиденциально </h3></div>
<h4 style="font-weight: normal">При получении продукции в аптеке вам не придется даже произносить названия выбранных товаров — просто назовите номер заказа, и вам его выдадут.</h4>
</div>
{% endblock %}