{% extends "articles/base_nv.html" %}
{% load static %}
{% block heading %}
<div class="left-search-box">
</div>
<div class="search-box">
  <form action="{% url 'search_results' %}" method="get" class="search">

    <input style="height: 25px;border: 0;padding: 0;padding-left:10px;border-radius: 10px;width: 100%;" name="q" type="text" placeholder=" Поиск товара ">
    <button class="submit" style="height:100%;border-radius: 20px;padding:0 20px;background: #b8e388;;border:0px;" type="submit"><h5 style="margin: 0 10px;">Поиск</h5></button>
  </form>
</div>
<div class="right-search-box">
  <a style="display: flex;align-items: center;  "href="{% url 'user:basket' %}"><img src="{% static 'basket.png'%}" height="42px;" width="42px"><h5 style="background: yellow; padding: 0 4px;border-radius:20px" id="basket">{{basket}}</h5></img></a>

</div>
{% endblock %}
{% block content %}
<style type="text/css">
	.content{
		flex-direction: column;
		margin-right: 0;
	}
</style>
<div class="filter-box" style="height: 200px;">
  <h2 style="text-align: left;color: #3790b7; ">Поиск аналогов</h2>
  <div class="filter" style="height: 200px;">
  <div class="filter-left" style="display: flex;flex-direction: column; height: 100px;">
    <div class="filter-element">
      <h4 style="font-weight: normal;text-indent: 25px;"> 
     Поиск аналогов происходит по действующим веществам в препарате, для поиска аналога выберите товар и перейдите на вкладку Аналоги, либо воспользоваться поиском ниже, если вам нужен препарат содеражащий более одного активного вещества, то следует перечислисть их через запятую.
      </h4>
     </div>
    </div> 
    </div> 
  </div>
  <div class="header-search-box">

<div class="search-box">
  <form action="{% url 'search_results' %}" method="get" class="search">

    <input style="height: 25px;border: 0;padding: 0;padding-left:10px;border-radius: 10px;width: 100%;" name="q" type="text" placeholder=" Поиск аналогов по действующему веществу" value="Действующие вещества: ">
    <button class="submit" style="height:100%;border-radius: 20px;padding:0 20px;background: #b8e388;;border:0px;" type="submit"><h5 style="margin: 0 10px;" >Поиск</h5></button>
  </form>
</div>
</div>
<div class="content2" style="margin-top: 20px;">
{% for object in objects_list %}
<div class="product-box">
  {% if object.recipe %}
  <div class="only-recept"><img src="{% static 'recept.png'%}" height="42px;" width="42px"></img><h5>По рецепту</h5></div>
  {% endif  %}
    <div class="product">
  <a href="/product/{{object.id}}">
  <div class="link">
    <div class="product_image">
      {% if object.thumb.url != None %}
      <img style="height:170px;width:170px" src="{{object.thumb.url}}" alt="">
      {% endif %}
    </div>
      
      
  
  <h4 style="text-align: left;width: 100%;color: #3790b7;">{{object.name}}</h4> 
</div>
</a>
  <h5 style="text-align: left;width: 100%;">{{object.company}}</h5> 
  <div class="price">
    {% if object.discount == None %}
  <h5 style="font-weight: normal;">Цена:</h5>
  <div style="display: flex;align-items: center;"><h3> {{object.price}}</3> <h4 style="font-weight: normal;margin-left:-3px; ">₽</h4></div>
  {% else %}
  <h5 style="font-weight: normal;">Цена:</h5>
  <div style="display: flex;align-items: center;"><h5 style="text-decoration:line-through;font-size: 90%;opacity: 0.5"> {{object.price}} ₽</h5> <h3> {{object.discount}} </h3><h4 style="font-weight: normal;margin-left:-3px; ">₽</h4></div>
  {% endif %}
  </div>  
  <div class="buy-options">
<button style="padding:0" type="button" class="btn btn-buy btn-success btn-lg btn-block{{object.id}}" id="+:{{object.id}}"><h4>Купить</h4></button>
<button style="padding:0" type="button"  onclick="return ChangeColor(this);" class="btn btn-buy btn-success btn-lg btn-{{object.id}}" id="-:{{object.id}}"><h4>-1</h4></button>
<h4 style="text-align: center;"><div class="{{object.id}} btn-{{object.id}}">1</div></h4> 
<button style="padding:0" type="button" class="btn btn-buy btn-success btn-lg btn-{{object.id}}" id="+:{{object.id}}"><h4>+1</h4></button>
<button style="padding:0" type="button" class="btn btn-buy btn-success btn-lg btn-{{object.id}}" id="+:{{object.id}}"><img src="{% static 'order.png'%}" height="42px;" width="42px"></img></button>
</div>
</div>
</div>
<style type="text/css">
  .btn-{{object.id}}{
    display: none;
  }
  .btn-{{object.id}}-active{
    display: block;
    width: 50px;
  }
</style>
<script type="text/javascript">
  $(".btn-block{{object.id}}").click(function(){
  console.log("click");
  $(".btn-block{{object.id}}").toggleClass("btn-block-active");
  $(".btn-{{object.id}}").toggleClass("btn-{{object.id}}-active");
});
</script>

  {% endfor %}
</div>
  



{% endblock %}

