{% extends "articles/base_nv.html" %}
{% load static %}
{% block content %}
<style type="text/css">
	.content{
		flex-direction: column;
		margin-right: 0;
    padding: 0 20px;  
	}
</style>

 <h2 style="text-align: left;color: #3790b7; ">Продажа товаров по рецепту</h2>
      <h4 style="font-weight: normal;text-indent: 25px;"> 
     На нашем сайте вы можете воспользоваться услугой «Продажа товара по рецепту» и выбрать оптимальный для вас способ доставки. Для покупки товара с рецептом на сайте вам нужен Электронный рецепт если у вас Обычный рецепт вы также можете купить препарат, но с ограничениями.
       </h4>
       <h3>
         Что такое Элетронный рецепт?
       </h3>
             <h4 style="font-weight: normal;text-indent: 25px;"> 
    Электронный рецепт - электронное медицинское назначение на лекарственные препараты, оформленное в формате структурированных данных.
Электронные рецепты выписываются врачом на приеме, после чего становятся доступны пациентам в мобильном приложении, которое позволяет отслеживать и сохранять все назначения. Купить лекарство по электронному рецепту можно просто показав QR-код назначения в аптеке. <a href="https://erx31.ru/#rec85704790">Подробней можно ознакомиться тут</a>
       </h4>
         <h3>
         Если у меня есть только Обычный рецепт?
       </h3>
             <h4 style="font-weight: normal;text-indent: 25px;"> 
    С обычном рецептом вы можете также купить препарат в нашей аптеке, но не сможете подтвердить его на сайте и выбрать способ доставки - курьером или самовывоз из постмата.  
       </h4>
       <h3>
         Как мне купить препарат на сайте, если у меня уже есть Элетронный рецепт?
       </h3>
             <h4 style="font-weight: normal;text-indent: 25px;"> 
    Для покупки вы должный авторизироваться на сайте, добавить товар в корзину и перейти в Личном кабинете на вкладку  «QR Рецепт», после чего загрузить ваш Электронный рецепт под препарат которой вам нужно приобрести, далее вы можете оформить заказ и выбрать удобный для вас способ доставки. <a href="ccbkrf"> Подробная инструкция тут</a>
       </h4>
            <h3>
         Если я подтвержду Элетронный рецепт на сайте, какие преймущества я получаю?
       </h3>
             <h4 style="font-weight: normal;text-indent: 25px;"> 
          При подтверждения электронного рецепта, вам будут доступны способы доставки - курьером, и самовывоз из постмата, без подтверждения рецепта при получении.

       <h3>
         Если я не хочу подтверждать Элетронный рецепт на сайте, но хочу купить препарат?
       </h3>
             <h4 style="font-weight: normal;text-indent: 25px;"> 
          Вы можете не подтверждать рецепт, но тогда возможный способ доставки - самовывоз из рук формацефта с предоставлением рецепта. 
       </h4>

{% endblock %}

