{% extends 'articles/base.html' %}
{% block content %}
<script type="text/javascript"> function displ(ddd) { if (document.getElementById(ddd).style.display == 'none') {document.getElementById(ddd).style.display = 'block'} else {document.getElementById(ddd).style.display = 'none'} } </script>
<a href="javascript: displ('var')"><b>Читать далее...</b></a> <div id="var" style="display: none;"> Здесь как раз будет находится, то что решили скрыть, это возможно, что материал большой по описанию, что код отличное решение
<a href="javascript: displ('var')"> <b>Закрыть текст.</b></a></div>
{% endblock %}